<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
	</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="wrapper">
      <div class="top_navbar">
        <div class="hamburger">
           <li><a href="#" class="logo">
                    <img src="{{url_for('static', filename='loutre.jpg')}}"/>
            </a></li>
        </div>
        <div class="top_menu">
          <div class="logo">FURFUR ERRNO</div>
        </div>
      </div>
        <div class="sidebar">
            <ul>
                <BR>
                <li><a href="{{ url_for('index') }}">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="title">Home</span></a></li>
                <li><a href="{{ url_for('listener_page') }}">
                        <span class="icon"><i class="fas fa-assistive-listening-systems"></i></span>
                        <span class="title">Listener</span>
                </a></li>
                <li><a href="{{ url_for('implant_page') }}">
                        <span class="icon"><i class="fas fa-bolt"></i></span>
                        <span class="title">Implant</span>
                </a></li>
                <li><a href="{{ url_for('generate_page') }}">
                    <span class="icon"><i class="fa fa-balance-scale"></i></span>
                    <span class="title">Generate Implant</span>
                </a></li>
                <li><a href="{{ url_for('board_page') }}">
                    <span class="icon"><i class="fas fa-chart-bar"></i></span>
                    <span class="title">Board</span>
                </a></li>
            </ul>
        </div>
        <div class="main_container">
            <h2>Welcome my homies</h2>
            <BR><BR>
            <div class="block">
                <div class="camembert-container">
                    <canvas id="myChart"></canvas>
                    <script>
                        var ctx = document.getElementById("myChart").getContext("2d");

                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: ["Connected", "Disconnected"],
                                datasets: [{
                                    label: 'Listeners',

                                    data: ["{{ count_connected }}","{{ count_disconnected }}"],
                                    backgroundColor: [
                                        'rgb(54, 162, 235)',
                                        'rgb(255, 99, 132)'
                                    ],
                                    hoverOffset: 2
                                }]
                            },
                            options: {
                                responsive: false,
                                maintainAspectRatio: false, // désactiver le ratio d'aspect
                                maxWidth: 500, // définir une taille maximale en pixels
                                maxHeight: 500
                            }
                        });
                    </script>
                    <canvas id="myChart2"></canvas>
                    <script>
                        console.log("{{ integrity_list }}")
                        let integrity_list = "{{ integrity_list }}";
                        if (integrity_list === "[]") {
                            console.log("Test if")
                            // Do nothing or display an error message
                        } else {
                            console.log("Test else")
                            let data222 = "{{ integrity_list }}";

                            let data22 = data222.replace(/&#39;/g, '').slice(1, -1).split(',');
                            let data2 = data22.map((element) => element.trim());
                            const counts2 = {};
                            data2.forEach(function(x) { counts2[x] = (counts2[x] || 0) + 1; });
                            const values2 = Object.values(counts2);

                            const possibleValues = ["SYSTEM", "High", "Medium"];
                            const labels = possibleValues.filter(value => data2.includes(value));
                            const dataCounts = {};
                            data2.forEach(function(x) { dataCounts[x] = (dataCounts[x] || 0) + 1; });
                            const values = labels.map(label => dataCounts[label]);

                            const ctx2 = document.getElementById('myChart2').getContext('2d');
                            const myChart2 = new Chart(ctx2, {
                                type: 'pie',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: 'Implant',
                                        data: values2,
                                        backgroundColor: [
                                            'rgb(255, 0, 0)', // rouge pour "systeme"
                                            'rgb(255, 165, 0)', // orange pour "high"
                                            'rgb(255, 255, 0)', // jaune pour "medium"
                                        ],
                                        hoverOffset: 2
                                    }]
                                },
                                options:{
                                    responsive: false,
                                    maintainAspectRatio: false, // désactiver le ratio d'aspect
                                    maxWidth: 500, // définir une taille maximale en pixels
                                    maxHeight: 500
                                }
                            });}
                    </script>
                </div>
                <BR><BR>
                <div id="map">
                    <script>
                      const coordinates = {{ Coordinate_list|tojson }};
                      function initMap() {
                        // Créer la carte centrée sur les coordonnées souhaitées
                        const map = new google.maps.Map(document.getElementById("map"), {
                          center: { lat: 48.8323, lng: 2.4075 },
                          zoom: 3,
                        });
                        // Ajouter un marqueur sur la carte pour chaque coordonnée
                        for (let i = 0; i < coordinates.length; i++) {
                          const marker = new google.maps.Marker({
                            position: { lat: coordinates[i].lat, lng: coordinates[i].lon },
                            map: map,
                              title: coordinates[i].hostname + " : " + coordinates[i].IP_Public
                          });
                        }
                      }
                    </script>
                    <script
                          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL1wE_ob0lb8U3dpumPMTOzYgRP0E0ebc&callback=initMap"
                          async defer
                        ></script>
                </div>
                <BR><BR>
                <div class = tableau_listeners_implant_container>
                    <h2>Tableaux des listeners/implants</h2>
                    <button onclick="toggleTable()">Afficher les tableaux</button>
                    <table id="table1-container" style="display:none"></table>
                    <script>
                        let encodedString = "{{ doc }}";
                        let decodedString = decodeURIComponent(encodedString.replace(/&#(\d+);/g, function(match, dec) {
                            return String.fromCharCode(dec);
                        }));
                        const json = JSON.stringify(decodedString);
                        const encoded = encodeURIComponent(json);

                        const dencoded = decodeURIComponent(encoded);
                        let dict = JSON.parse(dencoded);

                        const stringData = dict;
                        // Step 1: Convert string to JavaScript object
                        const jsonData = JSON.parse(stringData.replace(/'/g, "\""));

                        // Step 2: Convert object to array of arrays
                        const data = Object.entries(jsonData);

                        // Get a reference to the HTML element where you want to add the table
                          const table1div = document.getElementById('table1-container');

                          // Create a new table element
                          const table = document.createElement('table');

                        // Step 4: Add rows and cells to table
                        for (let i = 0; i < data.length; i++) {
                          const row = table.insertRow();
                          const keyCell = row.insertCell();
                          const valueCell = row.insertCell();
                          keyCell.textContent = data[i][0];
                          valueCell.textContent = data[i][1];
                        }
                        var row = table.insertRow(0);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        cell1.innerHTML = "<strong>Name</strong>";
                        cell2.innerHTML = "<strong>Bind Port</strong>";

                        // Append table to document
                        table1div.appendChild(table);
                    </script>
                    <BR><BR>
                    <table id="table2-container" style="display:none"></table>
                    <script>
                      // Define the input dictionary
                      const inputDict = {{docImplant|tojson}};

                      // Get a reference to the HTML element where you want to add the table
                      const table2div = document.getElementById('table2-container');

                      // Create a new table element
                      const table2 = document.createElement('table');

                      // Create an array of header keys
                      const headerKeys = Object.keys(inputDict);

                      // Create a table row for each header key
                      headerKeys.forEach((headerKey, rowIndex) => {
                        // Create a new row element for the current header key
                        const row = document.createElement('tr');

                        // Create the first cell in the current row for the current header key
                        const headerCell = document.createElement('th');
                        headerCell.textContent = headerKey;
                        row.appendChild(headerCell);

                        // Create a table cell for each value in the current header key's array
                        const values = inputDict[headerKey];
                        values.forEach((value, colIndex) => {
                          const valueCell = document.createElement('td');
                          valueCell.textContent = value;
                          // Add the value cell to the current row
                          row.appendChild(valueCell);
                        });

                        // Add the current row to the table
                        table2.appendChild(row);
                      });
                      const rows2 = table2.rows;
                      for (let i = 0; i < rows2.length; i++) {
                        rows2[i].deleteCell(0); // delete the second cell in each row
                      }
                        var row = table2.insertRow(0);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        var cell5 = row.insertCell(4);
                        var cell6 = row.insertCell(5);
                        var cell7 = row.insertCell(6);
                        var cell8 = row.insertCell(7);
                        var cell9 = row.insertCell(8);

                        cell1.innerHTML = "<strong>Hostname</strong>";
                        cell2.innerHTML = "<strong>Username</strong>";
                        cell3.innerHTML = "<strong>ID</strong>";
                        cell4.innerHTML = "<strong>ProcessName</strong>";
                        cell5.innerHTML = "<strong>Integrity</strong>";
                        cell6.innerHTML = "<strong>LocalIP</strong>";
                        cell7.innerHTML = "<strong>PublicIP</strong>";
                        cell8.innerHTML = "<strong>lastSeen</strong>";
                        cell9.innerHTML = "<strong>Status</strong>";

                        // Append table to document
                      table2div.appendChild(table2);
                    </script>

                    <script>
                        function toggleTable() {
                            var table1 = document.getElementById("table1-container");
                            var table2 = document.getElementById("table2-container");
                            if (table1.style.display === "none") {
                                table1.style.display = "table";
                                table2.style.display = "table";
                            } else {
                                table1.style.display = "none";
                                table2.style.display = "none";
                            }
                        }
                        </script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>