<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listener</title>
</head>

<body>
    <h1>Listener</h1>
    <hr style="width:50%;text-align:left;margin-left:0">

    <h3>Show Listener</h3>
    <form action="{{ url_for('show_listener') }}" method="post">
        <p>Name <label>
        <input type = "text" name = "Name" />
        </label></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>

    <hr style="width:50%;text-align:left;margin-left:0">
    <h3>Show All Listeners</h3>

    <form action="{{ url_for('show_listeners') }}" method="post">
        <button name="ShowListeners" type="submit">ShowListeners</button>
    </form>

    <hr style="width:50%;text-align:left;margin-left:0">
    <h3>Create Listener</h3>

    <form action="{{ url_for('create_listener') }}" method="post">
        <p>Name <label>
        <input type = "text" name = "Name" />
        </label></p>
        <p>Port <label>
        <input type = "text" name = "Port" />
        </label></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>

    <hr style="width:50%;text-align:left;margin-left:0">
    <h3>Delete Listener</h3>
    <form action="{{ url_for('delete_listener') }}" method="post">
        <p>Name <label>
        <input type = "text" name = "Name" />
        </label></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>

<p><a href="{{ url_for('index') }}">Index</a></p>
<p><a href="{{ url_for('generate_page') }}">Implant Generation</a></p>
</body>
</html>
