<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{ mon_param }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
	</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
	$(document).ready(function() {
		$.get('/TakeControl/result_history', function(data) {
			// Ajouter les données JSON renvoyées à la div
			$('#result_history').html(JSON.stringify(data));
		});
	});
	</script>
</head>
<body>
    <div class="wrapper">
      <div class="top_navbar">
        <div class="hamburger">
           <li><a href="#" class="logo">
                    <img src="{{url_for('static', filename='loutre.jpg')}}"/>
            </a></li>
        </div>
        <div class="top_menu">
          <div class="logo">FURFUR ERRNO</div>
        </div>
      </div>
        <div class="sidebar">
            <ul>
                <BR>
                <li><a href="{{ url_for('index') }}">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="title">Home</span>
                </a></li>
                <li><a href="{{ url_for('listener_page') }}">
                        <span class="icon"><i class="fas fa-assistive-listening-systems"></i></span>
                        <span class="title">Listener</span>
                </a></li>
                <li><a href="{{ url_for('implant_page') }}">
                        <span class="icon"><i class="fas fa-bolt"></i></span>
                        <span class="title">Implant</span>
                </a></li>
                <li><a href="{{ url_for('generate_page') }}">
                    <span class="icon"><i class="fa fa-balance-scale"></i></span>
                    <span class="title">Generate Implant</span>
                </a></li>
                <li><a href="{{ url_for('board_page') }}">
                    <span class="icon"><i class="fas fa-chart-bar"></i></span>
                    <span class="title">Board</span>
                </a></li>
            </ul>
        </div>
        <div class="main_container">
            <h2>Vous avez saisi : {{ mon_param }}</h2>
            <BR><BR>
            <div class="block">

                <h2>Console</h2>
                <textarea id="result_history" rows="10" cols="50"></textarea>
                <h2>Take Control</h2>
                <form action="{{ url_for('send_command') }}" id="command-form" method="POST">
                    <label for="command">Command:</label>
                    <input type="hidden" name="id_implant" value={{ mon_param }}>
                    <input type="text" id="command" name="command">
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>